/*---------------------
    VARIABLES
---------------------*/
:root {
  // Colors
  --first-color: #000;
  --second-color: #fff;
  --third-color: #f4c358;
  --fourth-color: #a3a39a;

  // Container
  --container-size: 80rem;
}
